Задание 44 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [14]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  robot

In [15]:
data.whoAmI.unique()

array(['robot', 'human'], dtype=object)

In [13]:
el = 'robot'

data.loc[data.whoAmI == el, el] = 1

data.head()

  whoAmI  robot
0  robot    1.0
1  robot    1.0
2  human    NaN
3  human    NaN
4  human    NaN

In [25]:
for el in data.whoAmI.unique():
  data.loc[data.whoAmI == el, el] = 1
  data.loc[data.whoAmI != el, el] = 0

In [26]:
data.head()

  whoAmI  robot  human
0  robot    1.0    0.0
1  robot    1.0    0.0
2  human    0.0    1.0
3  human    0.0    1.0
4  robot    1.0    0.0